pdfgen/src/main/mule/pdfwriter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="pdfwriterFlow" doc:id="b02d02a7-bd58-43c8-b370-4e9f423609ae" >
		<http:listener doc:name="Listener" doc:id="34492e92-3077-4398-903a-4b59a4462f41" config-ref="HTTP_Listener_config" path="write"/>
		<ee:transform doc:name="Transform Message" doc:id="aed001e3-5a80-46ca-bb50-fe4efd72feb4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/json
---
{
	parts:{
		test:{
			heeaders:{
				"Content-Type":"application/pdf",
				content:payload
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4c4837c6-69b2-442f-b4bf-813f127c5bcc" mimeType="dfapplication/pdf"/>
		<file:write doc:name="Write" doc:id="65ebd3cb-4cad-4924-94aa-35df45a0e40b" path="#['testfile.pdf']"/>
	</flow>
</mule>
